CrossDetection.aux
CrossDetection.log
CrossDetection.out
CrossDetection.synctex.gz
CrossDetection.toc
intro/abstract.aux
intro/title.aux
target.aux
template_settings/contents.aux
"\321\200\320\265\321\204\320\265\321\200\320\260\321\202"
